body {
  width: 100%;
}

.effect:hover {
  transform: scale(1.1);
  transition: 500ms linear; 
}

/* Text Styling */

.small-text {
  font-size: 20px;
}

.orange-text {
  color: #de843b;
}

.blue-text {
  color: blue;
}

.white-text {
  color: white;
}

/* Background Colors */

.white {
  background-color: white;
}

.black {
  background-color: black;
}

.orange {
  background-color: #de843b;
}

.honey {
 background-color: #45556C;
}

.orange-border {
  border: 3px solid #de843b;
}

/* Backgroung Wallpaper */

.backgrnd1 {
  width: 100%;
  background-image: url("assets/Honeycomb2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.backgrnd2 {
  width: 100%;
  background-image: url("assets/Honeycomb3.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.backgrnd3 {
  width: 100%;
  background-image: linear-gradient(rgba(2, 165, 46, 0.05), rgb(8 8 8 / 93%)),
  url("assets/Honeycomb4.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Nav-Bar Styling */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001
}

/* Dropdown Styling */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: black;
  border: none !important
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Works Listing Styling */

.project-info {
  height: 120px;
}

.project {
  border: 1px solid white;
  border-radius: 5%;
  background-color: white;
}

.alignment {
  margin-left: 25%
}

.v-size {
  width: 380px; 
  height: 320px;
}

/* Pop-Up styling */

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
    box-sizing: border-box;
}

.popup-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 600px;

    max-height: 80vh;
    overflow-y: auto;

    box-sizing: border-box;
}

.popup-contentB {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: start;
    width: 80%;
    max-width: 600px;

    max-height: 80vh;
    overflow-y: auto;

    box-sizing: border-box;
}

/* Responsivity */

@media screen and (max-width: 800px) {
  .v-size {
    width: 260px; 
    height: 220px;
  }

   .skills-container {
    width: 60%;
    margin-left: 20%;
  } 
}



@media screen and (max-width: 1000px) {
  .v-size {
    width: 280px; 
    height: 240px;
  }

 
}
